@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
header{
    position: fixed;
    top:0%;
    left: 0%;
   
    padding:20px 10px;
    width: 100%;
    z-index:1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0,8s;
}
.logo img 
{
width:8%;
position: absolute;
top: 28%;
left: 5%;

}
.plus{
padding-left: 20px;
}

.navbar{
    display: flex;
    position: relative;
  
}

.navbar li{
    list-style: none;
    position: relative;
    padding: 18px 14px ;
}
.navbar li a{
   color: white;
    text-decoration: none;
    margin-left:30px;
     font-weight: 700;  
     font: size 15px;
     display: block;
    
}
.navbar li ul  {
    display: none;
    position: absolute;
    width:250px;
    margin-left:30px;
   height:50px;
   margin-top:15px;
  

}
.sub-menu-1{
    display: none;
    
}
.navbar li ul li:hover .sub-menu-1{
display: block;
position: absolute;
margin-left: 200px;
margin-top: -58px;
}
.sub-menu-2{
    display: none;
    
}
.navbar li ul li:hover .sub-menu-2{
display: block;
position: absolute;
margin-left: 206px;
margin-top: -60px;
}

.navbar li ul li {
    background-color:#C83B31;
    border-bottom: 1px solid beige;
  
}

.navbar ul li a{
 margin-left: 0;
} 

.navbar li:hover ul{
display: block;

}

header .navbar li a:hover{   
    color: beige;
    color: #C83B31;

}   
header .navbar ul li a:hover{
    color: black;
}

header.sticky{
    background:beige;
    height:60px;
    padding: 10px 10px;


}

header.sticky .navbar li a{
    color: #C83B31;
}
header.sticky .navbar ul li{
    background-color: beige;
    border-bottom: 1px solid #C83B31;

}
header.sticky .navbar ul li a:hover{
    color:black ;

}
.baniere{
background:linear-gradient(rgba(0,0,0,0.5),#C83B31), url(./image/Banniere.jpg) center/cover no-repeat;
height: 100vh;
}


.baniere-text{
    text-align: center;
    color: #fff;
    padding-top: 270px;
}

.baniere-text h1{
    font-size: 130px;
    font-family: 'Lobster', cursive;
}

.baniere-text p{
    font-size: 20px;
    font-style: italic;
}

.baniere_btn{
    text-align: center;
    margin-top: 20px;
}

.baniere_btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color:#C83B31;
    border: 1px solid #fff;
    position: relative;
    background-color: beige;
    
}

.baniere_btn a span{
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.6s ease-in;
}


.baniere_btn a:hover span{
    width: 100%;
}
.baniere_btn a:hover{
    background-color: #C83B31;
    color: beige;
}



.propos_boite .h2{
margin-top:3%;
font-size:25px;
}
.propos_boite .h1{
    margin-top:1%;
font-size:25px;
}
.titre-text{
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
}
.titre-text p{
    margin: auto;
    font-size: 20px;
    color: #C83B31;
    font-weight: bold;
    opacity: 0.5;
    position: relative;

    display: inline-block;
}
.titre-text p::after{
    content: '';
    background: linear-gradient(#C83B31,#fff);
    height: 40px;
    width: 60px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index:-1;
    transform: rotate(-10geg);
    border-bottom-right-radius:40px ;
    border-top-left-radius: 40px;

}
.titre-text{
    font-size: 30px;
    margin-top: -10px;
}
@media screen and (max-width:770px) {
    .baniere-text h1{
        font-size: 44px;
       
    }
    .baniere_btn a{
        display: block;
        margin: 20px auto;

    }
    .baniere{
        height:108vh;
       
    }
}

.propos_boite{
    margin-left: 30px;
    
   
}
.propos_boite h1{
    font-size: 30px;
    color: #C83B31;
    margin-bottom:20px;
}

.propos_boite p{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.im-mission{
    background: linear-gradient(rgba(0, 0, 0, 0.5),#C83B31), url(./image/Banniere2.jpg) center/cover no-repeat;
    height:400px;
    width: 30%;
    flex-basis: 35%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
 margin-left:60%;
 margin-top: -30%;
}
@media screen and (max-width:770px){
    .titre-text h1{
        font-size: 35px;
    }
    .propos_boite h1{
        font-size: 20px;
    }
    .propos_boite p{
        font-size:10px;
    }
    .im-mission{
        margin-top:-340px;
        height: 290px;
        
    }
    .propos_boite .titre{
        text-align: justify;
    }
    .propos_boite .titre2{
        text-align: justify;
    }
    
}


.service{
    margin-top:80px;
    width: 100%;
    padding: 70px 0px;
}
.service .titre-text{
    margin-top: -70px;
}

.service-boite{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.utilisateur h3 a{
    text-decoration: none;
    color: #C83B31;
}

.service-simple{
    flex-basis:40%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px #ad615c;
   
    transition: 0.6s ease-in;
    padding: 10px;
    text-align: justify;
    
}
.service-simple h3{
    color: #C83B31;
}

.service-boite p{
    font-size: 14px;
}
.service #digi{
    width:40%;
    margin-left:350px;
   text-align: justify;
}

.utilisateur{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.utilisateur img{
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.info_util .fab{
    margin: 2px;
    font-size: 20px;
    padding-top:10px ;
    
}

.temoignage-simple:hover{
    transform: translateY(-10px);
}

@media screen and (max-width: 770px){
    .service{
        margin-top:5%;
    }
    .service-simple{
        flex-basis: 100%;
        
    }

    
.service-boite p{
    font-size: 12px;
}

.info_util h4{
    font-size: 12px;
}
.info_util .fab{
    font-size: 16px;
}
.service #digi{
    margin-left:-1px;
}

}
footer{
    width: 100%;
    background:#C83B31;
    bottom: 0;
    height:100%;

    
}

footer .localisation{
    display: inline-block;
  
    width:300px;
    height:150px;
    margin-left:200px;
   margin-top:3%;
   
}
footer .email{
    display: inline-block;
 
   position: absolute;
    width:300px;
    height:150px;
    margin-left:80px;
    margin-top:3%;
}
footer .telephone{
    display: inline-block;
    position: absolute;
   
    width:300px;
    height:150px;
    margin-left:420px;
    margin-top:3%;
    
}

.p-localisation{
    margin-top:27px;
   text-align: center;
   

}
.p-email{
    margin-top: 22px;
    text-align: center;
}
.p-telephone{
    margin-top:28px;
    text-align: center;
}
.div-footer .fas {
    color:black;
    margin-left: 130px;
    margin-top:30px;
    font-size:30px;
    
}

.div-footer .far {
    color:black;
    margin-left:130px;
    margin-top:30px;
     font-size:35px;
}
/*.pied-page{
    width:95%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.contactform{
    padding: 0px 20px;
    max-width:350px;
   margin-top:2%;
   
  
}
.contactform .inputboite{
   position: relative;
   width: 100%;
   margin-bottom: 20px;
}

.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea
{width: 100%;
   border: 1px solid #555;
padding: 10px;
color: #111;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: white;
    background: #C83B31;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    transition: 0.5em;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.pied-propo{
 margin-top: 1%;
    font-size: 13px;
    
    margin-left:-10%;
    
}
.pied-avantage{
    margin-top:1%;
    font-size: 13px;
   
    width: 22%;
    margin-left:-6%;
}
.pied-service{
    margin-top:1%;
    font-size: 13px;
    
    width: 22%;
    margin-left:-6%;
}
.pied-d{
    text-align: right;
    margin-top: -7%;
  width:50%;
 
  margin-left: 80%;
    
}
.pied-d .fas {
    color: #C83B31;
}
.pied-d .far {
    color: #C83B31;
}
.pied-page a{
    text-decoration: none;
    color: #C83B31;
}*/
.pied-logo img{
    width:10%;
    margin-top:2%;
    margin-left: 2%;
}


@media (max-width: 991px) {
    

  header,
    header.sticky{
        padding: 10px 20px;
      
      
    }
    
    header .navbar li{
        margin-left: 0px;
    }
    
    header .navbar li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
        
    }
    .navbar{
        display: none;
        
    }
    
    header .navbar.active{
        width:100%;
        height: 100%;
        height: calc(100% -68px);
        position: fixed;
        top:70px;
        padding-top: 50px;
        display: flex;
        justify-content:left;
        flex-direction: column;
        background:beige;
       padding-right: 10px;
        border-radius: 3em;
    transition: 0.6s ease-in;
    }
    header .navbar.active{
        color: #C83B31;
    }
    header .logo img {
        width: 20%;
        
    }
    header .navbar.active li ul{
        margin-top: -10px;
      margin-left:50%;
      font-size: 10px;
      position: relative;
     
    }
    
   
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(./image/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
        margin-left:80%;
    }
    
    .menuToggle.active
    {
        background-image: url(./image/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
      
    }
    
    header.sticky .menuToggle{
        filter: invert(1);
        
    }
    .pied-logo{
        width:300px;
        margin-left: 50%;
    }
    footer{
        width:100%;
        height: 100%;
    }
    footer .localisation{
        margin-left:15%;
        height:10px;
        font-size: 12px;
      font-weight: bold;
       margin-top: -5%;
       position: relative;
    }
    footer .email{
        margin-left:15%;
        font-size: 12px;
        height:10%;
        margin-top: -5%;
        font-weight: bold;
        position: relative;
    }
    footer .telephone{
        margin-left: 15%;
        font-size: 12px;
        height:10%;
        margin-top: -2%;
        font-weight: bold;
        position: relative;
    }
    footer .telephone p{
        margin-top:10px;
    }
    .div-footer .fas{
        font-size:20px;
        margin-left: 45%;
        border: 2px solid  rgb(134, 31, 31);
        border-radius:5px;
        width: 10%;
        height:30px;
        text-align: center;
        padding-top:4px;
        background-color: rgb(245, 245, 187);
        color: #C83B31;
    }
    .div-footer .far{
        font-size:20px;
        margin-left: 45%;
        border: 2px solid  rgb(134, 31, 31);
        width: 10%;
        height:30px;
        text-align: center;
        padding-top:4px;
        color: #C83B31;
        background-color: rgb(245, 245, 187);
       
    }
   
}
.kbscan{
    color: #C83B31;
    font-weight: bold;
}